header {
    background: linear-gradient(135deg, #FF0000 0%, #0075BE 100%);
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

header h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background: #f8f9fa;
    padding: 20px;
}

.nav {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.nav-link {
    font-size:1.5rem;
    color: #0075BE;
}

.nav-pills .nav-link.active {
    background-color: #0075BE; 
}