header {
    background: linear-gradient(135deg, #FF0000 0%, #0075BE 100%);
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

header h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background: #f8f9fa;
    padding: 20px;
}

.nav {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.nav-link {
    font-size:1.5rem;
    color: #0075BE;
}

.nav-pills .nav-link.active {
    background-color: #0075BE; 
}

.card-selected {
    border: 4px solid dodgerblue !important;
}

.card-normal {
    border: 0px solid #ccc !important;
}

.card-text {
    font-size: 0.7rem;
}

.card-normal .hover-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-normal .card-image {
    transition: opacity 0.3s ease;
}

.card-normal:hover .hover-overlay {
    opacity: 1;
}

.card-normal:hover .card-image {
    opacity: 0.3;
}

.card .card-body{
    font-size: 1.1rem;
    font-weight: 600;
}